/* Primary colors */
$color-text-primary: #323232;
$color-cta-primary: #0095ff;
$color-text-secondary: #afafaf;
$color-cta-text: #ffffff;

/* Secondary colors */
$color-ui-primary: #000000;
$color-cta-hover: #0065ad;
$color-ui-secondary: #e1e1e1;
$color-background-secondary: #fafafa;
