@use "../../styles/partials/index" as index;

/* styles for header for mobile */
.header {
  padding: 1rem;
  text-align: center;

  &__logo {
    padding-bottom: 1rem;
  }

  &__search {
    @include index.flexed(space-between);
    gap: 1rem;
    padding-bottom: 1rem;
    width: 95%;
  }

  &__search-container {
    @include index.flexed();
    border: 1px solid index.$color-ui-secondary;
    width: 85%;
    background-color: index.$color-background-secondary;
    border-radius: 0.25rem;

    &:focus {
      border: 2px solid index.$color-cta-primary;
    }
  }

  &__search-icon {
    padding-left: 1rem;
  }

  &__search-input {
    border-style: none;
    background-color: index.$color-background-secondary;
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    // min-width: 15rem;
    width: 85%;
    height: 2.25rem;
    padding: 0.75rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: index.$color-text-primary;
      opacity: 1;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
  }

  &__button {
    @include index.flexed();
    background-color: index.$color-cta-primary;
    border-radius: 0.25rem;
    border-style: none;
    height: 2.5rem;
    width: 100%;

    &:hover {
      background-color: index.$color-cta-hover;
    }
  }

  &__button-text {
    @include index.text(index.$color-cta-text, 0.75rem, 1.25rem, 700);
    width: 100%;
    margin: 0;
  }

  &__button-tablet {
    display: none;
  }
}

/* styles for header on tablet device */
@include index.medium {
  .header {
    @include index.flexed();
    padding: 1.5rem;

    &__search {
      justify-content: flex-end;
    }

    &__search-container {
      width: 50%;
      max-width: 18.75rem;
    }

    &__avatar {
      width: 2.5rem;
      height: 2.5rem;
    }

    &__link {
      min-width: 9.375rem;
    }

    &__button-mobile {
      display: none;
    }

    &__button-tablet {
      display: block;
    }
  }
}

/* styles for header on desktop */
@include index.large {
  .header {
    max-width: 80rem;
    margin: 0 auto;
  }
}
