@use "../../styles/partials/index" as index;

.sidebar {
  padding: 0 1rem;

  &__title {
    @include index.text(index.$color-text-secondary, 0.8125rem, 1.125rem, 700);
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__videos {
    display: flex;
    gap: 1rem;
  }

  &__image {
    border-radius: 0.25rem;
    width: 6rem;
    height: 4rem;
    aspect-ratio: 16 / 9;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__name {
    @include index.text(index.$color-text-primary, 0.8125rem, null, 700);
    margin: 0;
    padding-bottom: 0.5rem;
  }

  &__channel {
    @include index.text(index.$color-text-primary);
    margin: 0;
  }
}

/* styles for header on tablet device */
@include index.medium {
  .sidebar {
    &__container {
      width: 25%;
    }

    &__image {
      margin-bottom: 1.5rem;
    }

    &__title {
      @include index.text(null, 0.875rem, 1.375rem, null);
    }

    &__name {
      @include index.text(null, 0.875rem, 1.375rem, null);
    }

    &__channel {
      @include index.text(null, 0.875rem, 1.375rem, null);
    }
  }
}

/* styles for header on desktop */
@include index.large {
  .sidebar {
    border-left: 1px solid index.$color-ui-secondary;
  }
}
