@use "../../styles/partials/index";

/* styles for header on desktop */
@include index.large {
  .home-page {
    &__container {
      display: flex;
      max-width: 80rem;
      margin: 0 auto;
    }

    &__container-left {
      width: 80%;
    }
  }
}
